<h1>log in</h1>

<%= form_for :session, url: login_path, html:{class:'col-md-4 col-md-offset-4'}  do |f| %>
  
  <% if @login_error %>
    <div id='error_explanation'>
    <p><%=@login_error%></p>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :username, 'username' %><br>
    <%= f.text_field :username, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :password, 'password' %><br>
    <%= f.password_field :password, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.submit "log in", class:'btn btn-default' %>
  </div>

<% end %>