<h1>sign up</h1>

<%= form_for @user, html:{class:'col-md-4 col-md-offset-4'} do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2>
        sorry, you had <%= pluralize(@user.errors.count, 'error') %> that kept you from creating an account:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :username, 'username' %><br>
    <%= f.text_field :username, class:'form-control'  %>
  </div>

  <div class='form-group'>
    <%= f.label :password, 'password' %><br>
    <%= f.password_field :password, class:'form-control'  %>
  </div>

  <div class='form-group'>
    <%= f.label :password_confirmation, 'confirm password' %><br>
    <%= f.password_field :password_confirmation, class:'form-control'  %>
  </div>

  <div class='form-group'>
    <%= f.submit class:'btn btn-default'%>
  </div>

<% end %>